/* margini della pagina*/

body{
    margin: 0;
}

main{
    margin: 10px;
}

/* intestazione della pagina*/

header{
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    height: 170px;
}

/* logo booleaners*/

#logo{
    width: 200px;
    height: 230px;
    margin: 5px;
}

/* intestazione dell'a pagina'*/

h1{
    color: black;
    font-size: 32px;
    line-height: 32px;
    
}
#intestazione-articolo{

    color: gray;
    line-height: 0%;

}
